.card{
    width: 300px;
    margin: 20px auto;
    background-color: #ababab;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}
body{
    background-color: #5c5c5c;
}
#height{
    margin-left: 2px;
}
#weight{
    margin-top: 10px;
}
button{
    height: 40px;
    width: 100px;
    margin: 20px auto;
    align-items: center;
    padding: 2%;
    border-radius: 20px ;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    background-color: rgb(217, 217, 217);
    
}
.results{
    color: rgb(0, 92, 61);
}